# Intellij
.idea/
out/
*.iml

# Maven
target/
dependency-reduced-pom.xml

# Gradle
.gradle/
build/
.kotlin/

# Java
*.hprof
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Common run directory
run/

# MacOS
*.DS_Store
